#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
&kp LEFT_SHIFT  &kp V  &kp C      &kp X         &kp Y  &kp MINUS  &kp DOT        &kp COMMA  &kp M  &kp ENTER
&kp G           &kp F  &kp D      &kp S         &kp A  &kp POUND  &kp L          &kp K      &kp J  &kp H
&kp B           &kp R  &kp E      &kp W         &kp Q  &kp P      &kp O          &kp I      &kp U  &kp N
                       &kp SPACE  &kp QUESTION  &kp T  &kp Z      &kp BACKSPACE  &kp SPACE
            >;
        };
    };
};
